.carousel-item img {
  width: 50%; /* ajusta el tamaño según lo necesites */
  margin: 0 auto; /* centra las imágenes horizontalmente */
}

body {
  background-color: black;
}
.container.somos{
  padding-top: 50px;
  background-color: black;
  color: aliceblue;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

.container.destacados{
  padding-top: 50px;
  background-color: black;
  color: aliceblue;
}

.container.form{
  padding-top: 50px;
  color: aliceblue;
}


footer{
  margin-top: 20px;
  background-color: #0dcaf0;
  color: aliceblue;
}

footer h1{
  text-align: left;
  margin-left: 20%;
}

card-body{
  background-color: #0dcaf0;
}

